body {
text-align: center;
font-size: 14px;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#theme {
position: absolute;
top: 0;
right: 0;
}

#calendar {
width: 900px;
margin: 40px auto 0 auto;
position: relative;
}

#loading {
width: 100%;
height: 100%;
text-align: center;
position: absolute;
top: 0;
padding-top: 35%;
z-index: 100;
background-color: white;
opacity: 0.6;
}

#loading i {
font-size: 100px;
color: black;
-webkit-animation: fa-spin2 1s infinite linear;
animation: fa-spin2 1s infinite linear;
}

@keyframes fa-spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }


/* modal not big enough */
.modal-backdrop.show {
width: 100%;
height: 100%;
}

.fc-day, .fc-list-item, .fc-content-skeleton tbody td {
  cursor: pointer;
}