body {
text-align: center;
font-size: 14px;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#theme {
position: absolute;
top: 0;
right: 0;
}

#calendar {
width: 100%;
max-width: 900px;
margin: 40px auto 0 auto;
position: relative;
}

.fc-scroller {
height: auto !important;
}

#loading {
width: 100%;
height: 100%;
text-align: center;
position: absolute;
top: 0;
padding-top: 35%;
z-index: 100;
background-color: white;
opacity: 0.6;
}

#loading i {
font-size: 100px;
color: black;
-webkit-animation: fa-spin2 1s infinite linear;
animation: fa-spin2 1s infinite linear;
}

@keyframes fa-spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }


/* modal not big enough */
.modal-backdrop.show {
width: 100%;
height: 100%;
}

.fc-day, .fc-list-item, .fc-content-skeleton tbody td {
cursor: pointer;
}

/* looks weird
.fc .fc-row .fc-bg td:hover,
.fc .fc-row .fc-content-skeleton td:not(.fc-event-container):hover {
background-color: #bce8f1;
}*/

.fc-title {
white-space: normal;
}

#sortie_map, #event_map {
height: 250px;
}

.modal-header .close {
width: 4rem;
height: 4rem;
}
.modal-header .close span {
font-size: 3em;
position: absolute;
right: 10px;
top: -5px;
}
