body {
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
width: 100%;
max-width: 900px; /* viewport 600 */
margin: 0 auto 0 auto;
position: relative;
}

#loading {
width: 100%;
height: 100%;
text-align: center;
position: absolute;
top: 0;
padding-top: 35%;
z-index: 100;
background-color: white;
opacity: 0.6;
}

#loading i {
font-size: 100px;
color: black;
-webkit-animation: fa-spin2 1s infinite linear;
animation: fa-spin2 1s infinite linear;
}

@keyframes fa-spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* 600px is same as viewport */
@media (max-width: 600px) {
  .modal .modal-dialog{
    /* Use full available width on mobile */
    max-width: 100%;
  }
}

.fc-day, .fc-list-item, .fc-content-skeleton tbody td {
cursor: pointer;
}

.fc-title {
white-space: normal;
}

#sortie_map, #event_map {
min-height: 250px;
}

.modal-header .close {
width: 4rem;
height: 4rem;
}
.modal-header .close span {
font-size: 3em;
position: absolute;
right: 10px;
top: -5px;
}

#spinner_RDV {
display: none;
margin-top: 3px;
}

#event_location2 {
resize: none;
}

#event_rdv_location, #event_location2,
#event_rdv_location_title, #event_location_title {
cursor: pointer;
}

#sortie_categories {
max-width: 400px;
}

#event_rdv_location {
/*hack to ensure it doesn't wrap on a second line with long text.
flex-grow-1 & flex make it grow to fill the space*/
width: 5px;
}

#event_id:before {
content: '#';
}

#event_bell {
font-size: 35px;
margin-left: 10px;
}

#event_post_error, #comment_post_error {
width: 100%;
margin-top: 0.25rem;
color: #CD0200;
text-align: center;
}
#comment_post_error {
text-align: right;
}

#unsplash, #changeBg {
position: absolute;
top: 0;
left: 0;
}
#changeBg {
margin: 10px;
top: auto;
bottom: 0;
}