<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\home\python364x64\python.exe|D:\home\python364x64\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="DB_FILENAME" value="events.db" />
  
    <!-- WFASTCGI Required settings -->
    <add key="WSGI_HANDLER" value="app_flask.app" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />

    <!-- WFASTCGI Optional settings -->
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log" />
    <!--add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
    <add key="DJANGO_SETTINGS_MODULE" value="my_app.settings" />
    <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
    <add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" /-->
  </appSettings>
</configuration>