<header>
<div class="row m-0 pt-2">
  <div class="col">
    <a href="/">{{Home}}</a> | <a href="https://lyonparapente.fr">{{Blog}}</a> | <a href="/users">{{usersTitle|replace(' ', '&nbsp;')|safe}}</a>
  </div>
  <div class="col-auto text-center">
    <a href="/"><img src="static/logo_115.png" alt="Logo" /></a>
  </div>
  <div class="col text-right">
    <a href="/settings">{{userSettings}}</a>
    | {% if is_connected %}<a href="/logout">{{logout}}</a>{% else %}<a href="/login">{{login}}</a>{% endif %}
  </div>
</div>
</header>