<!DOCTYPE html lang="{{lang}}">
<html>
<head>
  <meta charset="utf-8" />
  <title>{{login}}</title>
  <meta name="viewport" content="width=600" />
  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/theme/{{default_theme}}.bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="static/css/login.css" />
  <link rel="shortcut icon" href="static/favicon.ico" />
</head>
<body>
<div class="container h-100">
 <div class="d-flex justify-content-center h-100">
  <div class="user_card bg-secondary">
    <div class="d-flex justify-content-center">
      <a href="/"><img alt="LyonParapente" src="static/logo_115.png" /></a>
    </div>
    <div class="d-flex justify-content-center form_container">
      <form action="/login" method="POST">
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text bg-primary"><i class="fas fa-at"></i></span>
          </div>
          <input type="email" name="login" class="form-control input_user" placeholder="{{email}}" required autofocus />
        </div>
        <div class="input-group mb-2">
          <div class="input-group-append">
            <span class="input-group-text bg-primary"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" name="password" class="form-control input_pass" placeholder="{{password}}" required />
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" name="rememberMe" id="rememberMe">
            <label class="custom-control-label" for="rememberMe">{{remember}}</label>
          </div>
        </div>
        <div class="text-center">
          {% if error %}<div class="alert-danger">{{error}}</div>{% endif %}
          {% if message %}<div class="alert-success">{{message}}</div>{% endif %}
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block login_btn">{{login}}</button>
        </div>
        <input name="lost_password" id="lost_password" type="hidden" />
      </form>
    </div>
    <div class="m-2">
      <div class="text-center">
        {{gotaccount}} <a href="/register" class="ml-2 btn btn-info btn-sm" role="button">{{signup}}</a>
      </div>
      <div class="text-center">
        <a href="javascript:lost_password();">{{forgot}}</a>
      </div>
    </div>
  </div>
 </div>
</div>
<!--script src="static/js/jquery.slim.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script-->
<script src="static/js/unsplash.min.js"></script>
<script>
unsplashL(['paraglider']);

function lost_password ()
{
	var ctrl = document.getElementById('lost_password');
	ctrl.value = "1";
	ctrl.closest('form').submit();
}

// alpha according to theme
var user_card = document.querySelector('.user_card');
var color = getComputedStyle(user_card)['backgroundColor'];
var color_alpha = "rgba("+color.substring(4,color.length-1)+", 0.3)";
user_card.style.backgroundColor = color_alpha;
user_card.classList.remove('bg-secondary');
</script>
</body>
</html>