<!DOCTYPE html lang="{{lang}}">
<html>
<head>
  <meta charset="utf-8" />
  <title>{{register}}</title>
  <meta name="viewport" content="width=600" />
  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/theme/{{default_theme}}.bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="static/css/login.css" />
</head>
<body>
<div class="container h-100">
 <div class="d-flex justify-content-center h-100">
  <div class="user_card bg-secondary">
    <div class="d-flex justify-content-center">
      <img alt="LyonParapente" src="static/logo_115.png" />
    </div>
    <div class="d-flex justify-content-center form_container">
      <form method="POST">
        {% if not message %}
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text bg-primary"><i class="fas fa-user"></i></span>
            <div class="form-row">
              <div class="col">
                <input type="text" name="firstname" class="form-control input_user" placeholder="{{firstname}}" required autofocus />
              </div>
              <div class="col">
                <input type="text" name="lastname" class="form-control input_user" placeholder="{{lastname}}" required />
              </div>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text bg-primary"><i class="fas fa-at"></i></span>
          </div>
          <input type="email" name="email" class="form-control input_user" placeholder="{{email}}" required />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-append">
            <span class="input-group-text bg-primary"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" name="password" class="form-control input_pass" placeholder="{{password}}" minlength="6" required />
        </div>
        {% endif %}
        <div class="text-center text-danger">{{error}}</div>
        <div class="text-center text-success">{{message}}</div>
        {% if not message %}
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block login_btn">{{register}}</button>
        </div>
        {% endif %}
      </form>
    </div>
    <div class="mt-2 text-center">
      <a href="/">{{gotohome}}</a>
    </div>
  </div>
 </div>
</div>
<!--script src="static/js/jquery.slim.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script-->
<script src="static/js/unsplash.min.js"></script>
<script>
unsplash(['paragliding']);

// alpha according to theme
var user_card = document.querySelector('.user_card');
var color = getComputedStyle(user_card)['backgroundColor'];
var color_alpha = "rgba("+color.substring(4,color.length-1)+", 0.3)";
user_card.style.backgroundColor = color_alpha;
user_card.classList.remove('bg-secondary');
</script>
</body>
</html>