<!DOCTYPE html lang="{{lang}}">
<html>
<head>
	<meta charset="utf-8" />
	<title>{{userSettings}}</title>
	<meta name="viewport" content="width=600" />
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/theme/{{user['theme']}}.bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/fontawesome-all.min.css" />
<style type="text/css">
body {
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
.big-checkbox {width: 30px; height: 30px;}
.form-check-label {
line-height: 40px;
margin-left: 15px;
}
#unsplash{
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
.container{
background-color: rgba(255,255,255,0.4);
}
</style>
</head>
<body>

{{header|safe}}

<div class="container">
<form method="POST" enctype="multipart/form-data">
	<input name="csrf_token" type="hidden" value="{{ csrf_token }}">

	<div class="form-group row align-items-center">
		<label for="avatar" class="col-sm-2 col-form-label">{{Avatar}}</label>
		<div class="col-sm-10">
			<div class="form-row">
				<div class="col-auto">
					<img src="/avatars/{{user_id}}-130?r={{random}}" alt="{{Avatar}}" class="border" />
				</div>
				<div class="col-sm-4 align-self-end">
					<input type="file" name="avatar" id="avatar" class="form-control input_user" onchange="this.closest('form').submit()" />
					<input name="remove_avatar" id="remove_avatar" type="hidden" />
					<a href="javascript:remove_avatar();">{{Remove_avatar}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">{{Identity}}</label>
		<div class="col-sm-10 col-md-5">
			<div class="form-row">
				<div class="col">
					<input type="text" name="firstname" class="form-control input_user" placeholder="{{firstname}}" value="{{user['firstname']}}" required />
				</div>
				<div class="col">
					<input type="text" name="lastname" class="form-control input_user" placeholder="{{lastname}}" value="{{user['lastname']}}" required />
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="email" class="col-sm-2 col-form-label">{{email}}</label>
		<div class="col-sm-10 col-md-5">
			<input type="email" name="email" id="email" class="form-control input_user" placeholder="{{email}}" value="{{user['email']}}" required />
		</div>
	</div>

	<div class="form-group row">
		<label for="phone" class="col-sm-2 col-form-label">{{phone}}</label>
		<div class="form-inline">
			<div class="col">
				<input type="text" name="phone" id="phone" class="form-control input_user" placeholder="{{phone}}" value="{{user['phone']}}" />
			</div>
			<div class="col form-check">
					<input type="checkbox" name="has_whatsapp" id="has_whatsapp" class="form-check-input big-checkbox" {% if user['has_whatsapp'] %}checked{% endif %} /><label for="has_whatsapp">{{has_whatsapp}}</label>
			</div>
		</div>
	</div>

	<div class="form-group row align-items-center">
		<label class="col-sm-2 col-form-label">{{password}}</label>
		<div class="col-sm-10">
			<a href="/password">{{changePassword}}</a>
		</div>
	</div>

	<div class="form-group row align-items-center">
		<label class="col-sm-2 col-form-label">{{visibility}}</label>
		<div class="col-sm-10">
			<div class="form-check">
				<input type="checkbox" name="share_email" id="share_email" class="form-check-input big-checkbox" {% if user['share_email'] %}checked{% endif %} />
				<label class="form-check-label" for="share_email">{{share_email|safe}}</label>
			</div>
			<div class="form-check">
				<input type="checkbox" name="share_phone" id="share_phone" class="form-check-input big-checkbox" {% if user['share_phone'] %}checked{% endif %} />
				<label class="form-check-label" for="share_phone">{{share_phone|safe}}</label>
			</div>
		</div>
	</div>

	<div class="form-group row align-items-center">
		<label class="col-sm-2 col-form-label">{{themeLabel}}</label>
		<div class="col-4 col-md-2">
			<select name="theme" class="custom-select">
				{%for key in themes%}
				<option value="{{key}}"{% if user['theme']==key %} selected{% endif %}>{{themes[key]}}</option>{%endfor%}
			</select>
		</div>
	</div>

	<div class="form-group row align-items-center">
		<label class="col-sm-2 col-form-label">{{Notifications}}</label>
		<div class="col-sm-10">
			<div class="form-check">
				<input type="checkbox" name="notif_new_event" id="notif_new_event" class="form-check-input big-checkbox" {% if user['notif_new_event'] %}checked{% endif %} />
				<label class="form-check-label" for="notif_new_event">{{notif_new_event|safe}}</label>
			</div>
			<div class="form-check">
				<input type="checkbox" name="notif_event_change" id="notif_event_change" class="form-check-input big-checkbox" {% if user['notif_event_change'] %}checked{% endif %} />
				<label class="form-check-label" for="notif_event_change">{{notif_event_change|safe}}</label><br/>{{notif_event_change_note}} <i class="fas fa-bell" id="event_bell"></i>
			</div>
			<div class="form-check">
				<input type="checkbox" name="notif_tomorrow_events" id="notif_tomorrow_events" class="form-check-input big-checkbox" {% if user['notif_tomorrow_events'] %}checked{% endif %} />
				<label class="form-check-label" for="notif_tomorrow_events">{{notif_tomorrow_events|safe}}</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col">
			{% if error %}<div class="alert alert-danger">{{error}}</div>{% endif %}
			{% if message %}<div class="alert alert-success">{{message}}</div>{% endif %}
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">{{save}}</button>
		</div>
	</div>
</form>

<div class="mt-2">
	<a href="/">{{gotohome}}</a>
</div>
</div>

<script src="static/js/unsplash.min.js"></script>
<script>
unsplash(['paragliding']);

function remove_avatar ()
{
	var ctrl = document.getElementById('remove_avatar');
	ctrl.value = "1";
	ctrl.closest('form').submit();
}

document.getElementById('has_whatsapp').addEventListener('change', function ()
{
	var phone = document.getElementById('phone');
	if (this.checked && phone.value == '')
	{
		phone.classList.add('is-invalid');
		this.checked = false;
	}
	else
	{
		phone.classList.remove('is-invalid');
	}
});
</script>
</body>
</html>