<!DOCTYPE html lang="{{lang}}">
<html>
<head>
	<meta charset="utf-8" />
	<title>{{userTitle}}</title>
	<meta name="viewport" content="width=600" />
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/fontawesome-all.min.css" />
</head>
<body>
<div class="container">

{{user['firstname']}} {{user['lastname']}}<br/>
{% if user.get('email') %}
<a href="mailto:{{user.get('email')}}">{{user.get('email')}}</a><br/>
{% endif %}
{% if user.get('phone') %}
<a href="tel:{{user.get('phone')}}">{{user.get('phone')}}</a><br/>
{% endif %}

<div class="mt-2">
	<a href="/" class="text-dark">{{gotohome}}</a>
</div>

</div>
</body>
</html>