<!DOCTYPE html lang="{{lang}}">
<html>
<head>
	<meta charset="utf-8" />
	<title>{{userTitle}}</title>
	<meta name="viewport" content="width=600" />
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/theme/{{theme}}.bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/fontawesome-all.min.css" />
<style type="text/css">
body {
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
.container{
max-width: 500px;
}
.card-body{
background-color: rgba(0,0,0,0.2);
}
.fa-whatsapp{
color: green;
}
</style>
</head>
<body>
{{header|safe}}
<div class="container mt-2">

<div class="row">

	<div class="col-auto px-0">
		<div class="text-center mt-1"><img src="/avatars/{{user['id']}}-130" alt="{{Avatar}}" /></div>
	</div>

	<div class="col-auto pr-0 flex-column form-inline align-items-start">
		<div class="input-group mt-auto pt-1">
			<span class="form-control">{{user['firstname']}} {{user['lastname']}}</span>
		</div>
		{% if user['phone'] %}
		<div class="form-inline">
			<div class="input-group mt-auto pt-1">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fa fa-phone" title="Phone"></i></div>
				</div>
				<span class="form-control"><a href="tel:{{user['raw_phone']}}">{{user['phone_nice']}}</a></span>
			</div>
			{% if user['has_whatsapp'] %}
			<div class="input-group mt-auto ml-1 pt-1">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fab fa-whatsapp" title="WhatsApp"></i></div>
				</div>
				<span class="form-control"><a href="https://api.whatsapp.com/send?phone={{user['phone_whatsapp']}}">WhatsApp</a></span>
			</div>
			{% endif %}
		</div>
		{% endif %}
		{% if user['email'] %}
		<div class="input-group mt-auto pt-1">
			<div class="input-group-prepend">
				<div class="input-group-text"><i class="fas fa-at" title="Email"></i></div>
			</div>
			<span class="form-control"><a href="mailto:{{user['email']}}">{{user['email']}}</a></span>
		</div>
		{% endif %}
		<div class="mt-auto"></div>
	</div>
</div>

{% if user['wing'] %}
<div class="row mt-1">
	<div class="input-group mt-auto pt-1">
		<div class="input-group-prepend">
			<div class="input-group-text">{{TheWing}}</div>
		</div>
		<span class="form-control">{{user['wing']}}</span>
	</div>
</div>
{% endif %}

{% if presentation %}
<div class="row mt-2">
	<div class="col p-0">
		<div class="card">
			<div class="card-body">
				{{presentation|safe}}
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="mt-2">
	<a href="/">{{gotohome}}</a>
</div>

</div>
<script src="static/js/unsplash.min.js"></script>
<script>unsplashL(['paraglider']);</script>
</body>
</html>
