body {
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
width: 100%;
max-width: 900px; /* viewport 600 */
margin: 0 auto 0 auto;
position: relative;
}

#loading {
width: 100%;
height: 100%;
text-align: center;
position: absolute;
top: 0;
padding-top: 35%;
z-index: 100;
background-color: white;
opacity: 0.6;
}

#loading i {
font-size: 100px;
color: black;
-webkit-animation: fa-spin2 1s infinite linear;
animation: fa-spin2 1s infinite linear;
}

@keyframes fa-spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* 600px is same as viewport */
@media (max-width: 600px) {
  .modal .modal-dialog{
    /* Use full available width on mobile */
    max-width: 100%;
  }
}

/* Events and future days are clickable */
.fc-event-title, .fc-list-event, .fc-day-today, .fc-day-future {
cursor: pointer;
}

/* Nice effect when moving hover cells */
.fc-day-today:hover, .fc-day-future:hover {
background: var(--fc-neutral-bg-color, rgba(200, 200, 200, 0.2));
}

/* A long title should be fully visible: allow wrapping */
.fc-event-title {
white-space: normal;
}

/* Events title are centered */
.fc-event-title-container {
text-align: center;
}

/* Map default height */
#sortie_map, #event_map {
min-height: 250px;
}

.modal-header .close {
width: 4rem;
height: 4rem;
}
.modal-header .close span {
font-size: 3em;
position: absolute;
right: 10px;
top: -5px;
}

#spinner_RDV {
display: none;
margin-top: 3px;
}

#event_description {
font-size: 1.25rem;
}

#event_location2 {
resize: none;
overflow-x: hidden; /* hide extra line in firefox */
}

#event_rdv_location, #event_location2,
#event_rdv_location_title, #event_location_title {
cursor: pointer;
}

@media (max-width: 767.98px) {
#event_author_email {
font-size: small;
}
#event_author_phone {
font-size: small;
padding-left: 3px;
padding-right: 3px;
}
#event_author_whatsapp span {
font-size: small;
padding-left: 2px;
padding-right: 2px;
}
}

#sortie_categories {
max-width: 400px;
}

#event_rdv_location {
/*hack to ensure it doesn't wrap on a second line with long text.
flex-grow-1 & flex make it grow to fill the space*/
width: 5px;
}

#event_bell, #event_ics, #event_whatsapp i {
font-size: 35px;
cursor: pointer;
}

#event_post_error, #comment_post_error {
width: 100%;
margin-top: 0.25rem;
color: #CD0200;
text-align: center;
}
#comment_post_error {
text-align: right;
}

#comment_preview, #description_preview {
padding: 20px;
box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3), inset -5px -5px 10px rgba(0, 0, 0, .2);
}

#changeBg {
position: absolute;
bottom: 0;
left: 0;
margin: 10px;
}

.fa-whatsapp {
color: green;
}

#WhatsApp_video {
cursor: pointer;
}

#comment_send_btn {
height: 80px;
}
#comment_send_btn.edit {
height: 50px;
}